*{
    margin: 0;
    padding: 0;
}

body{
    /* background: #213647; */
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    color: #0D2233;
}

body::-webkit-scrollbar{
    display: none;
}

h1{
    color: #95A2AD;
    margin-top: 1.5%;
    font-size: 40px;
    color: #95A2AD;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    position: relative;
    z-index: 3;
    width: 80%;
    height: auto;
    padding: 20px 3px;
    background: #51687A;
    border-radius: 10px;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    row-gap: 50px;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(4, 1fr);
}

.miesiac {
    background: #95A2AD;
    width: 300px;
    height: 1fr;
    border-radius: 5px;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.4);
    padding: 1.5%;
    transition: 0.5s;
    margin: 0 auto;
    text-align: center;
}

.grid_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 73%;
    z-index: 4;
    display: grid; 
    grid-template-columns: repeat(7, auto);
    grid-gap: 6px;
    text-align: center;
    margin-top: 10px;
}

.miesiac:hover{
    scale: 1.06;
}

.text{
    font-size: 18px;
}

img{
    float: left;
    width: 95px;
    height: 100%;
    border-radius: 5px;
}

.grid_dni-nazwa{
    color: red;
}

.grid_dni{
    color: lightgrey;
}

.swieto {
    width: 100px;
    height: auto;
    display: none;
    position: absolute;
    background: #646464;
    box-shadow: 2px 2px 10px black;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    z-index: 5;
    text-align: center;
    margin: 0 auto;
}

.grid_dni-nazwa:hover .swieto{
    display: block;
    opacity: 1;
}

.swieto-dni:hover .swieto{
    display: block;
    opacity: 1;
}

.bag{
    border-bottom: 1px rgb(64, 64, 64,.4) dashed;
}

.bubble{
    position: absolute;
    border-radius: 1000px;
    background: #A5C5E0;
    z-index: 1;
    width: 500px;
    height: 500px;
}

@media only screen and (max-width: 1600px){
    .container {
        position: relative;
        z-index: 3;
        width: 65%;
        height: auto;
        padding: 20px 3px;
        background: #51687A;
        border-radius: 10px;
        margin-top: 1.5%;
        display: grid;
        row-gap: 40px;
        grid-template-rows: repeat(4, 200px);
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1300px){
    .container {
        position: relative;
        z-index: 3;
        width: 65%;
        height: auto;
        padding: 20px 3px;
        background: #51687A;
        border-radius: 10px;
        margin-top: 1.5%;
        display: grid;
        row-gap: 40px;
        grid-template-rows: repeat(6, 200px);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1000px){
    .container {
        position: relative;
        z-index: 3;
        margin: 0 auto;
        width: 350px;
        height: auto;
        padding: 20px 3px;
        background: #51687A;
        border-radius: 10px;
        margin-top: 1.5%;
        display: grid;
        row-gap: 60px;
        grid-template-rows: repeat(12, 200px);
        grid-template-columns: repeat(1, 1fr);
    }
}