*{
    margin: 0;
    padding: 0;
}

body{
    /* background: #213647; */
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    color: #0D2233;
    min-width: 1000px;
    min-height: 1000px;
}

body::-webkit-scrollbar{
    display: none;
}

h1{
    color: #95A2AD;
    margin-top: 1.5%;
    font-size: 40px;
    color: #95A2AD;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    position: relative;
    z-index: 3;
    padding: 1%;
    width: 95%;
    height: auto;
    padding-bottom: 1%;
    background: #51687A;
    border-radius: 10px;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 1%;
    grid-template-rows: repeat(3, 195px);
    grid-template-columns: repeat(4, 25%);
}

.miesiac {
    background: #95A2AD;
    width: 85%;
    height: 195px;
    border-radius: 5px;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.4);
    padding: 1.5%;
    transition: 0.5s;
    margin: 0 auto;
    text-align: center;
}

.grid_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 15px;
    z-index: 4;
    display: grid; 
    grid-template-columns: repeat(7, auto);
    grid-gap: 6px;
    text-align: center;
    margin-top: 10px;
}

.miesiac:hover{
    scale: 1.06;
}

.text{
    font-size: 18px;
}

img{
    float: left;
    width: 95px;
    height: 100%;
    border-radius: 5px;
}

.grid_dni-nazwa{
    color: red;
}

.grid_dni{
    color: lightgrey;
}

.swieto {
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    background: #95A2AD;
    box-shadow: 2px 2px 10px black;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    z-index: 5;
    text-align: center;
    margin: 0 auto;
}

.img-swieto{
    width: 90px;
    height: 60px;
}

.grid_dni-nazwa:hover .swieto{
    display: block;
    opacity: 1;
}

.swieto-dni:hover .swieto{
    display: block;
    opacity: 1;
}

.bag{
    border-bottom: 1px rgb(64, 64, 64,.4) dashed;
}

.bubble{
    position: absolute;
    border-radius: 1000px;
    background: #A5C5E0;
    z-index: 1;
    width: 500px;
    height: 500px;
}
