*{
    margin: 0;
    padding: 0;
}

body{
    background: #213647;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    cursor: default;
    color: #0D2233;
    min-width: 1000px;
    min-height: 1000px;
}

h1{
    margin-top: 30px;
    font-size: 40px;
    /* color: #d4501c; */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    position: relative;
    z-index: 3;
    padding: 1%;
    width: 95%;
    height: 820px;
    background: #51687A;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(4, auto);
}

.miesiac {
    background: #95A2AD;
    width: 85%;
    height: 65%;
    border-radius: 5px;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.4);
    padding: 1%;
    transition: 0.5s;
    margin: 0 auto;
}

.grid_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -170px;
    left: 40px;
    font-size: 15px;
    z-index: 4;
    display: grid; 
    grid-template-columns: repeat(7, auto);
    grid-gap: 6px;
    text-align: center;
}

.miesiac:hover{
    scale: 1.06;
}

.text{
    float: right;
    margin-top: 5px;
}

img{
    width: 95px;
    height: 100%;
    border-radius: 5px;
}

.grid_dni-nazwa{
    color: red;
}

.grid_dni{
    color: lightgrey;
}

.swieto {
    width: 100px;
    height: auto;
    display: none;
    position: absolute;
    background: #95A2AD;
    box-shadow: 2px 2px 10px black;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    z-index: 5;
}

.img-swieto{
    width: 90px;
    height: 60px;
}

.grid_dni-nazwa:hover .swieto{
    display: block;
    opacity: 1;
}

.swieto-dni:hover .swieto{
    display: block;
    opacity: 1;
}

.bag{
    border-bottom: 1px rgb(64, 64, 64,.4) dashed;
}

.bubble{
    position: absolute;
    border-radius: 1000px;
    background: #A5C5E0;
    z-index: 1;
    width: 500px;
    height: 500px;
}